@model IEnumerable<Category>
@{
    ViewData["Title"] = "index";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="text-warning"> Category List</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-warning " asp-controller="Category" asp-action="Post"><i class="bi bi-plus-circle"></i> Create </a>
        </div>
    </div>
</div>



<table class="table table-striped mt-3">
    <thead>
        <tr class="table-primary">
            <th class="text-center">
                Category Name
            </th>
            <th class="text-center">
                Display Order
            </th>
            <th class="text-center">
                Edit 
            </th>
            <th class="text-center">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {

            <tr>
                <td class="text-center">
                    @obj.Name
                </td>
                <td class="text-center">
                    @obj.DisplayOrder
                </td>
                <td class="text-center">
                    <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>  Edit</a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash3"></i>  Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
