@model bulkybook.Models.ViewModels.ProductVM


<h1 class="text-warning">@(Model.product.Id != 0  ? "Update" : "Create" )</h1>


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div asp-validation-summary="All">

    </div>

    <label class="form-label mb-1" asp-for="@Model.product.Title">Title</label>
    <span asp-validation-for="product.Title" class="text-bg-danger"></span>
    <input class="form-control mb-2" asp-for="product.Title" />

    <label class="form-label mb-1" asp-for="product.Description">Description</label>
    <span asp-validation-for="product.Description" class="text-bg-danger"></span>
    <textarea class="form-control mb-2" rows="3" asp-for="product.Description"> </textarea>
    <div class="row">

    <div class="col-6">
    <label class="form-label mb-1 " asp-for="product.Author">Author</label>
    <span asp-validation-for="product.Author" class="text-bg-danger"></span>
    <input class="form-control mb-2" asp-for="product.Author" />
    </div>
    <div class="col-6">
    <label class="form-label mb-1 " asp-for="product.ISBN">ISBN</label>
    <span asp-validation-for="product.ISBN" class="text-bg-danger"></span>
    <input class="form-control mb-2" asp-for="product.ISBN" />

    </div>
    </div>
   <div class="row">
       <div class="col-3">
            <label class="form-label mb-1 col-3" asp-for="product.ListPrice">ListPrice</label>
            <span asp-validation-for="product.ListPrice" class="text-bg-danger"></span>
            <input class="form-control mb-2" asp-for="product.ListPrice" />
            </div>
        <div class="col-3">
            <label class="form-label mb-1" asp-for="product.Price">Price</label>
            <span asp-validation-for="product.Price" class="text-bg-danger"></span>
            <input class="form-control mb-2" asp-for="product.Price" />
        </div>
            <div class="col-3">
            <label class="form-label mb-1" asp-for="product.Price50">Price50</label>
            <span asp-validation-for="product.Price50" class="text-bg-danger"></span>
            <input class="form-control mb-2" asp-for="product.Price50" />
       </div>
        <div class="col-3">
            <label class="form-label mb-1" asp-for="product.Price100">Price100</label>
            <span asp-validation-for="product.Price100" class="text-bg-danger"></span>
            <input class="form-control mb-2" asp-for="product.Price100" />
    </div>
</div>
    <div>
        <label class="form-label mb-1" asp-for="product.ImgUrl">Image</label>
        
        <input class="form-control mb-2" type="file" name="file" id="ImageUp" />
    </div>
    <div class="row">
        <div class="col-6">
            <label class="form-label mb-1" asp-for="product.CategoryId"></label>
            <span asp-validation-for="product.CategoryId" class="text-bg-danger"></span>
            <select class="form-select mb-2" asp-items="Model.CategoryList" asp-for="@Model.product.CategoryId">
                <option disabled selected> Select Category</option>
            </select>
        </div>
        <div class="col-6">
            <label class="form-label mb-1" asp-for="product.CoverTypeId"></label>
            <span asp-validation-for="product.CoverTypeId" class="text-bg-danger"></span>
            <select class="form-select mb-2" asp-items="Model.CoverTypeList" asp-for="@Model.product.CoverTypeId">
                <option disabled selected> Select Cover Type</option>
            </select>

        </div>
    </div>
   
    @{
        if(Model.product.Id != 0)
        {
            <button class="btn btn-warning" type="submit">Update</button>
        }
        else
        {
            <button class="btn btn-warning" onclick="return CheckImage()" type="submit">Create</button>
            
        }
    }

    <a class="btn btn-secondary" asp-controller="CoverType" asp-action="Index">Go Back</a>


</form>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial"/>
    
}
<script>
    function CheckImage(){

       
    if(document.getElementById("ImageUp").value==""){
            Swal.fire({
                title: 'Error!',
                text: 'Please Upload an Image',
                icon: 'error',
                confirmButtonText: 'Cool'
            });
            //return false
        }
        //return true;
    }
</script>
}
